.blog-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem;

    min-height: 100vh;
}

.blog-header {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    padding: .5rem 0;
}

.blog-body {
    max-width: 720px;
    width: 100%;
}

.blog-text {
    font-size: 1.05em;
}

.blog-delete {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.blog-comments {
    display: flex;
    flex-direction: column;
    max-width: 720px;
    width: 100%;
}

.blog-comments-new {
    margin-bottom: 5rem;
}

.blog-comments-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem 0;
}

@media screen and (min-width: 1025px) {
    .blog-text {
        font-size: 1.1em;
    }
}